
.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4;
  }
}

logo {
  font-size: 24px;
}

.nav-item.avatar img {
  height: 35px;
  padding: 5px;
  background-color: white;
}
