<!--Navbar-->
<header>

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color fixed-top intro-fixed-nav">
    <!-- Navbar brand -->
    <logo class="navbar-brand font-weight-bold">Photo Wall</logo>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <div *ngIf="currentTab != 'collections'; else elseBlock">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" [ngClass]="{'active': currentTab === 'best-features'}" mdbWavesEffect id="best-features-btn">
            <a class="nav-link" (click)="scrollToElement('best-features')">Features</a>
          </li>
          <li class="nav-item waves-light" [ngClass]="{'active': currentTab === 'examples'}" mdbWavesEffect id="examples-btn">
            <a class="nav-link" (click)="scrollToElement('examples')">Examples</a>
          </li>
          <li class="nav-item waves-light" [ngClass]="{'active': currentTab === 'gallery'}" mdbWavesEffect id="gallery-btn">
            <a class="nav-link" (click)="scrollToElement('gallery')">Gallery</a>
          </li>
          <li class="nav-item waves-light" [ngClass]="{'active': currentTab === 'collections'}" mdbWavesEffect id="collections-btn">
            <a class="nav-link" (click)="currentTab = 'collections'" routerLink="/collections">Collections</a>
          </li>
        </ul>
      </div>
      <ng-template #elseBlock>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect id="intro-btn">
            <a class="nav-link" (click)="currentTab = 'best-features'" routerLink="/home">Home</a>
          </li>
          <li class="nav-item active waves-light" mdbWavesEffect id="collections-btn">
            <a class="nav-link" routerLink="/collections">Collections</a>
          </li>
        </ul>
      </ng-template>

      <!-- Links -->

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar dropdown" dropdown>
          <a class="nav-link dropdown-toggle waves-light" mdbWavesEffect id="navbarDropdownMenuLink-5" dropdownToggle aria-haspopup="true" aria-expanded="true">
            <img src="assets/img/login.png" class="rounded-circle z-depth-0" alt="avatar image">
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-secondary" role="menu" aria-labelledby="navbarDropdownMenuLink-5">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Login</a>
          </div>
        </li>
      </ul>

    </links>
    <!-- Collapsible content -->

  </mdb-navbar>


</header>
