<!--Navbar-->
<header>

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color fixed-top intro-fixed-nav">
    <!-- Navbar brand -->
    <logo class="navbar-brand font-weight-bold">Photo Wall</logo>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <div *ngIf="currentTab != 'collections'; else elseBlock">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" [ngClass]="{'active': currentTab === 'best-features'}" mdbWavesEffect id="best-features-btn">
            <a class="nav-link" (click)="scrollToElement('best-features')">Features</a>
          </li>
          <li class="nav-item waves-light" [ngClass]="{'active': currentTab === 'examples'}" mdbWavesEffect id="examples-btn">
            <a class="nav-link" (click)="scrollToElement('examples')">Examples</a>
          </li>
          <li class="nav-item waves-light" [ngClass]="{'active': currentTab === 'gallery'}" mdbWavesEffect id="gallery-btn">
            <a class="nav-link" (click)="scrollToElement('gallery')">Gallery</a>
          </li>
          <li class="nav-item waves-light" [ngClass]="{'active': currentTab === 'collections'}" mdbWavesEffect id="collections-btn">
            <a class="nav-link" (click)="currentTab = 'collections'" routerLink="/collections">Collections</a>
          </li>
        </ul>
      </div>
      <ng-template #elseBlock>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect id="intro-btn">
            <a class="nav-link" (click)="currentTab = 'best-features'" routerLink="/home">Home</a>
          </li>
          <li class="nav-item active waves-light" mdbWavesEffect id="collections-btn">
            <a class="nav-link" routerLink="/collections">Collections</a>
          </li>
        </ul>
      </ng-template>

      <!-- Links -->

    </links>
    <!-- Collapsible content -->

  </mdb-navbar>


</header>
