<div class="card p-1">

  <!--Card image-->
  <div class="view hm-white-slight waves-light" mdbWavesEffect>
    <img src="{{collection.picture}}" class="img-fluid" alt="Card image">
    <a routerLink="/collection/{{collection.id}}">
      <div class="mask"></div>
    </a>
  </div>

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title">{{collection.title}}</h4>
    <!--Text-->
    <p class="grey-text p-0 m-0"><small>{{collection.count}} photos</small></p>
    <p class="card-text">{{collection.description}}</p>
  </div>

</div>
